%h1 Your order
%table.table
  - @cart.order_items.each do |oi|
    %tr
      %td= "#{oi.quantity} x "
      %td= oi.item.title
= link_to orders_path, method: :post do
  %span.glyphicon.glyphicon-ok
  Create order
