.panel.panel-default
  .panel-heading Your Cart
  %table.table.table-condensed
    - @cart.order_items.each do |oi|
      %tr
        = render 'order_items/form', order_item: oi
        %td
          = link_to order_item_path(id: oi.id), method: :delete, data: { confirm: 'Are you sure?' } do
            %span.glyphicon.glyphicon-remove
            Delete
    - if current_user
      %tr
        %td
          = link_to new_order_path do
            %span.glyphicon.glyphicon-usd
            Checkout
