.panel.panel-default
  .panel-heading Your Cart
  .panel-body
    - @cart.order_items.each do |oi|
      .row
        = render 'order_items/form', order_item: oi
        .col-sm-3
          = link_to order_item_path(id: oi.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "delete-order-item" do
            %span.glyphicon.glyphicon-remove
            Delete
    - if user_logged_in? && !current_user.admin?
      = link_to new_order_path do
        %span.glyphicon.glyphicon-usd
        Checkout
