.panel.panel-default
  .panel-heading Your Cart
  %ul.list-group
    - @cart.order_items.each do |oi|
      %li.list-group-item
        = oi.item.title
        = link_to 'delete', oi,  method: :delete, data: { confirm: 'Are you sure?' }
