.panel.panel-default
  .panel-heading Your Cart
  %table.table.table-condensed
    - @cart.order_items.each do |oi|
      %tr
        = render 'order_items/form', order_item: oi
        %td= link_to 'Delete', oi,  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs"
    - if current_user
      = link_to 'Checkout', new_order_path
