.well
  %h1 Edit item
  - if @item.errors.any?
    .alert.alert-danger
      %h4
        = pluralize(@item.errors.count, "error")
        prohibited this data from being saved
      %ul
      - @item.errors.full_messages.each do |msg|
        %li= msg
  = render 'form'
  = link_to 'Back', item_path(@item)
