.well
  %h1 Welcome to Dinner Dash site!
  %h3 Choose something from ours items!
%h1 All items
%table.table
  %tr
    %th Title
    %th Description
    %th Price
    %th
  -@items.each do |item|
    %tr
      %td= item.title
      %td= item.description
      %td= item.price
      %td= link_to 'Add to cart', order_items_path(item_id: item.id), method: :post
