@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
  font: 1.5em Serif;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px black, 0 0 1em #0FF, 0 0 0.2em blue;
}

.nav-pills {
  margin-top: 5px;
}

.nfield {
  width: 50px;
}

.update-quantity {
  background: transparent;
  border: none;
  padding: 0;
  color: #006699;
}
